// ────────────── Startup Applications ──────────────
// https://github.com/YaLTeR/niri/wiki/Configuration:-Miscellaneous#spawn-sh-at-startup

workspace "social"
workspace "media"

/*
Add lines like this to spawn processes at startup.
Note that running niri as a session supports xdg-desktop-autostart,
which may be more convenient to use.
See the binds section below for more spawn examples.
*/

// spawn-at-startup "waybar" // This line starts waybar, a commonly used bar for Wayland compositors.
spawn-sh-at-startup "Discord"
spawn-sh-at-startup "Steam"
spawn-at-startup "Spotify"
// spawn-sh-at-startup "/usr/lib/polkit-kde-authentication-agent-1 &" // Polkit

// hotkey-overlay and screenshot-path are set in misc.kdl
