// Window rules let you adjust behavior for individual windows.
// Find more information on the wiki:
// https://niri-wm.github.io/niri/Configuration:-Window-Rules

// Work around WezTerm's initial configure bug
// by setting an empty default-column-width.

window-rule {
	/*
	This regular expression is intentionally made as specific as possible,
	since this is the default config, and we want no false positives.
	You can get away with just app-id="wezterm" if you want.
	*/
	
	/* Set every window radius to 15 */
	geometry-corner-radius 15
	clip-to-geometry true
	default-column-width {}
	open-floating false
}

layer-rule {
	match namespace="^noctalia-wallpaper*"
	place-within-backdrop true
}
