// Social workspace
spawn-at-startup "thunderbird"
spawn-at-startup "whatsie"
spawn-at-startup "Telegram"

// Media workspace
spawn-sh-at-startup "steam"
spawn-at-startup "alacritty" "--title" "dgop-monitor" "-e" "dgop"
spawn-sh-at-startup "flatpak run com.spotify.Client"

// Background daemons
spawn-at-startup "/usr/lib/polkit-kde-authentication-agent-1"
spawn-sh-at-startup "wl-paste --watch cliphist store"
spawn-at-startup "udiskie"
